{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">

  <h2>About the Drink Collection App</h2>
  <p>
    More information about the app
  </p>

  <main>


  <div>
    <h2>Contact Details</h2>
    <hr>
    <p><b>Author:</b> Aaron Dower</p>
    <p><b>Company:</b> Drink Collection Inc.</p>
    <p><b>Email:</b> aaron.dower@drinkcollection.com</p>
    <p><b>Phone:</b> +353 89 123 4567 </p>
  </div>
</main>
  <div>
    <h3>Location</h3>
    <img src="/map.png" alt="Company Location" />
  </div>

  <footer>
  <div>
    <h2>App Statistics</h2>
    <ul>
      <li>Total Collections: 5</li>
      <li>Total Creators: 2</li>
      <li>Total Users: 10</li>
    </ul>
  </div>
</footer>



</section>
